.card-and-info-parent{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 25px 25px;
    background-color: rgb(243, 241, 241);
}

@media screen and (max-width: 1025px) {
    .card-and-info-parent{
    flex-direction: column-reverse;
    padding: 10px 10px;
    }
}