.cards-parents{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
@media screen and (max-width: 1025px) {
    .cards-parents{
        width: 100%;
    }
}
@media screen and (max-width: 769px) {
    .cards-parents{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 426px) {
    .cards-parents{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}